body {
    position: relative;
}


.butterfly {
    position: absolute;
    width: 100px;
    z-index: 4;

}

.foo, .butterfly {
  transition: left 0.8s ease-in-out, top 0.8s ease-in-out;
}

#bt0 {
    left: 300px;
    top: 260px;
}

#bt1 {
    left: 500px;
    top: 400px;
}

#bt2 {
    left: 100px;
    top: 300px;
}

.foo {
    width: 25px;
    position: absolute;
    z-index: 3;
    
}

.front {
    pointer-events: none;
    z-index: 2;
}

#f0 {
    left: 300px;
    top: 260px;
}

#f1 {
    left: 400px;
    top: 260px;
}

#f2 {
    left: 500px;
    top: 260px;
}

#f3 {
    left: 600px;
    top: 260px;
}

#f4 {
    left: 720px;
    top: 260px;
}

img {
    position: absolute;
}

#message {
    position: absolute;
    left: 20px;
    top: 30px;
    width: 500px;
    height: 100px;
    background-color: rgba(255,255,255,0.5);
    color: red;
    font-size: 30px;
    padding: 15px;
    z-index:10;
    pointer-events: none;

}